[General]
ProxyExecutable=/Applications/Vidalia.app/polipo
ProxyExecutableArguments=-c, /Applications/Vidalia.app/tor-polipo.conf
RunProxyAtStart=true
InterfaceStyle=Macintosh (Aqua)

[Tor]
TorExecutable=/Applications/Vidalia.app/tor
DataDirectory=~/.tor/
