/****************************************************************
 *  Vidalia is distributed under the following license:
 *
 *  Copyright (C) 2006,  Matt Edman, Justin Hipple
 *
 *  This program is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation; either version 2
 *  of the License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor,
 *  Boston, MA  02110-1301, USA.
 ****************************************************************/

/**
 * \file vidalia_win.rc
 * \version $Id: mainwindow.cpp 644 2006-04-11 08:49:24Z edmanm $
 * Defines resource identifiers for icons used on Win32.
 */

#include "vidalia_win.rc.h"

IDI_APP_ICON      ICON    "icons/vidalia.ico"
IDI_TOR_OFF       ICON    "icons/tor-off.ico"
IDI_TOR_ON        ICON    "icons/tor-on.ico"

// Change these to the correct icons when they're added
IDI_TOR_STARTING  ICON    "icons/tor-starting.ico"
IDI_TOR_STOPPING  ICON    "icons/tor-stopping.ico"
