/****************************************************************
 *  Vidalia is distributed under the following license:
 *
 *  Copyright (C) 2006-2007,  Matt Edman, Justin Hipple
 *
 *  This program is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation; either version 2
 *  of the License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor,
 *  Boston, MA  02110-1301, USA.
 ****************************************************************/

/**
 * \file vidalia_win.rc
 * \version $Id: mainwindow.cpp 644 2006-04-11 08:49:24Z edmanm $
 * Defines resource identifiers for icons used on Win32.
 */

#include <winver.h>
#include "vidalia_win.rc.h"

1 VERSIONINFO
FILEVERSION     0,0,15,0
PRODUCTVERSION  0,0,15,0
FILEFLAGSMASK   0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "FileVersion",      "0.0.15-svn"
            VALUE "ProductVersion",   "0.0.15-svn"
            VALUE "FileDescription",  "Vidalia"
            VALUE "InternalName",     "Vidalia"
            VALUE "ProductName",      "Vidalia"
            VALUE "OriginalFilename", "vidalia.exe"
            VALUE "CompanyName",      "vidalia-project.net"
            VALUE "LegalCopyright",   "Copyright (C) 2007, Matt Edman, Justin Hipple"
        }
    }
}


IDI_APP_ICON      ICON    "icons/vidalia.ico"
IDI_TOR_OFF       ICON    "icons/tor-off.ico"
IDI_TOR_ON        ICON    "icons/tor-on.ico"
IDI_TOR_STARTING  ICON    "icons/tor-starting.ico"
IDI_TOR_STOPPING  ICON    "icons/tor-stopping.ico"

